<div class="contact" id={{contact.CustomerID}} *ngFor='let contact of contacts'>
  <div class="header">
    <p>Company: {{contact.CompanyName}}</p>
    <p>{{contact.CustomerID}}</p>
  </div>
  <div class="name">
    <p>Name: {{contact.ContactName}}</p>
    <p>Title: {{contact.ContactTitle}}</p>
  </div>
  <div class="address">
    <p>Address: {{contact.Address}}</p>
    <p>City: {{contact.City}}</p>
    <p>Postal: {{contact.PostalCode}}</p>
  </div>
  <div class="region">
    <p>Region: {{contact.Region}}</p>
    <p>Country: {{contact.Country}}</p>
  </div>
  <div class="email">
    <p>Email: {{contact.Email}}</p>
    <p>Phone: {{contact.Phone}}</p>
    <p>Fax: {{contact.Fax}}</p>
  </div>
</div>