<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<app-table-list></app-table-list>

<!-- <table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table> -->



<!-- 
<h2><a class="test" target="_blank" rel="noopener" href="">Table Format</a></h2>

<h2><a target="_blank" rel="noopener" href="">Card Format</a></h2> -->